
.wrapper.fadeInDown
  #formContent  
    .fadeIn.first
      img(src="", alt="")#icon
    form(action="/login" method="POST")
      input(type="text",name="name",placeholder="login")#login.fadeIn.second
      input(type="text",name="password",placeholder="password")#login.fadeIn.third
      input(type="submit",value="Log In").fadeIn.fourth





link( href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js") 
